@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background: rgb(210, 205, 190);

    padding: 0.5rem 1rem;

    font-family: Roboto, sans-serif;
}

header {
    text-align: center;
}

header h1 img {
    max-height: 6rem;
}

.error, .success {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    border-width: 0.1rem;
    border-style: solid;
    border-left-width: 0.4rem;
}

.error {
    background: rgb(249, 214, 213);
    border-color: rgb(150, 29, 21);
}
.success {
    background: rgb(210, 226, 212);
    border-color: rgb(21, 150, 38);
}

a, a:visited {
    color: rgb(17, 121, 196);
}

.tac {
    text-align: center;
}


table {
    border: 1px solid black;
    border-collapse: collapse;

    margin: auto;
}

table th, table td {
    border: 1px dashed black;
    vertical-align: middle;
}

table th {
    background: rgb(98, 128, 138);
    color: white;
    font-weight: bold;
    padding: 1rem;
}
table td {
    padding: 0.7rem;
}

table tr {
    background: white;
}

table tr:hover {
    background: rgb(215, 232, 236);
}

table td.filename {
    font-size: 1.2em;
}
table td.filename a {
    display: inline-block;
    border-radius: 0.6rem;
    padding: 0.4rem 1.4rem 0.4rem 0.4rem;
    width: 100%;

    color: white;
    text-decoration: none;
}

table td.filename.folder a {
    background: #E0995E;
}
table td.filename.folder a:hover {
    background: #af7748;
}

table td.filename.file a {
    color: black;
    background: #acbac1;
}
table td.filename.file a:hover {
    background: #81a2b0;
}

table td.droits {
    font-family: 'Roboto Mono', monospace;
}

.icon, .icon-sm {
    vertical-align: middle;
}

.icon {
    max-width: 3rem;
    max-height: 3rem;
    margin: 0 0.5rem;
}
.icon-sm {
    max-width: 2rem;
    max-height: 2rem;
    margin: 0 0.2rem;
}


#editeur {
    position: absolute;
    top: 5rem;
    right: 0;
    bottom: 0;
    left: 0;
}

#save_in_progress, #save_done {
    color: rgb(14, 98, 53);
    font-weight: bold;
}
#save_error {
    color: rgb(98, 14, 14);
    font-weight: bold;
}


form {
    margin: auto;
    background: white;

    margin: 0 -1rem;
    padding: 1rem;
    text-align: center;
}
form div.form-wrap {
    display: inline-block;
    text-align: left;
}

div.field {
    width: 100%;
    margin-bottom: 1rem;
}

div.field label {
    display: inline-block;
    width: 10rem;
}
div.submit {
    margin-left: 10rem;
}

input[type="submit"], button {
    padding: 0.5rem 1rem;

    background: rgb(26, 175, 238);
    color: white;

    border: 1px solid rgb(18, 139, 190);
    border-radius: 0.3rem;

    cursor: pointer;
}
input[type="submit"]:active, button:active {
    border-color: rgb(26, 175, 238);
    background: rgb(18, 139, 190);
}

input[type="text"], input[type="password"] {
    padding: 0.5rem 1rem;
}


footer {
    text-align: center;
}
