<form id="login" method="POST">
    <div class="form-wrap">
        <div class="field">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username">
        </div>

        <div class="field">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="submit">
            <button type="submit">Connexion au serveur</button>
        </div>
    </div>
</form>
