<form method="POST">
    <div class="form-wrap">
        <div class="field">
            <label for="folder_name">Nom du dossier</label>
            <input type="text" name="folder_name" id="folder_name">
        </div>
        <div class="submit">
            <input type="submit" name="submit" value="Créer">
        </div>
    </div>
</form>
