<form method="POST" enctype="multipart/form-data">
    <div class="field">
        <label for="fichiers">Fichiers</label>
        <input type="file" name="fichiers[]" id="fichiers" multiple>
    </div>
    <div class="submit">
        <input onclick="return checkFichiers();" type="submit" name="submit" value="Envoyer les fichiers">
    </div>
</form>
